.sidebar {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--primary-color);
    padding: 1rem;
    color: white;
}
.profile h4 a,
.profile h4 a strong {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

.nav-links a:hover {
    transform: translateY(-4px);
  }

.nav-links a {
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    text-decoration: none;
    padding: 0.6rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);

    white-space: normal;
}
.nav-links a i {
    min-width: 18px;
    text-align: center;
    font-size: 0.95rem;
}


.main-content {
    margin-left: 300px;
    padding: 3rem;
}

section {
    margin-bottom: 4rem;
}

@media (max-width: 770px) {
    .sidebar {
        width: 100%;
        position: static;
    }

    .main-content {
        margin-left: 0;
        padding: 2rem 1rem;
    }
}
